
nav {
    display: flex;
    background-color: white;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 82px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 100;
}



nav a {
    transition: 0.2s;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #56B280;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    transition: 0.4s;
    background-color: #56B280;
    color: white;
    padding: 15px 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

img {
    width: 300px;
    height: 80px;
    margin-left: 10px;
}